### CORS Misconfiguration (неправильная настройка CORS)

Настройка:
# 'Access-Control-Allow-Origin: *'

# Сервер сам говорит: "Принимаю запросы с любых сайтов". Браузер видит этот заголовок и разрешает AJAX-запрос с любого домена.


### Referer

# Некоторые сайты защищаются от CSRF, проверяя заголовок Referer (откуда пришел запрос).
# Если Referer не с их домена — блокируют.
